:root {
  --main-title-color: #000000;
  --accent-title-color: #ffffff;
  --main-background-color: #ffffff;
  --secondary-backrgound-color: #f1f1f2;
  --accent-backgound-color: #f7941e;
  --extra-background-color: #231f20;
}

/*  ###########   header start    ###########  */
.header {
  padding-top: 47px;
  padding-bottom: 47px;
}
.container {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 70px;
}
/*  ###########   header end    ###########  */



